{% extends 'base_admin.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block page_title %}
<h1>Create global setting</h1>
{% endblock %}



{% block content %}
<h4>If a setting means to be of boolean type, then write True or False in a value field.</h4>
{% for field, errors in form.errors.items() %}
  <small class="form-upper-error">
      {{ ', '.join(errors) }}
  </small>
{% endfor %}
<form action="{{ url_for('global_settings.create') }}" method="POST">
  <div class="col-md-6">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{ form.name.label(class='control-label') }}
      {{ form.name(class='form-control')}}
    </div>
    <div class="form-group">
      {{ form.value.label(class='control-label') }}
      {{ form.value(class='form-control')}}
    </div>
  <br>
  {{ form.submit(class="btn btn-primary")}}

  </div>
</form>

{% endblock %}
