{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block content_title %}

<div class="page-title">
    <h1>Checkout</h1>
</div>

{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <form id="create-order-form" action="{{url_for('order.validate_create')}}" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ["csrf_token", "submit", "customer_id", "purchased_products"]%}

            <div class="form-group">
                <p>{{ field.label() }}</p>
                <p>
                    {{ field }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>

            {% endfor %}

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}


