{% extends 'base.html' %}

{% block title %}
Search results
{% endblock %}

{% block content_title %}

<div class="page-title">
    <h1>Results:</h1>
</div>


{% endblock %}


{% block content %}
<div class="container-fluid order-display-list">
    {% if orders_list %}
        {% for order in orders_list %}
        <div class="order-display-block">
            <h1>Order ID: {{ order['entity'].id }}</h1>
            <h2>Customer ID: {{ order['entity'].customer_id }}</h2>

            <h2>Recipient: {{ order['entity'].recipient_surname }} {{ order['entity'].recipient_name }}
                {{ order['entity'].recipient_patronymic }}</h2>

            <p>Email: {{ order['entity'].recipient_email }}</p>
            <p>Phone number: {{ order['entity'].recipient_phone_number }}</p>
            <p>Ordered: {{order['entity'].order_datetime}}</p>
            {% for product in order['products'] %}
                <p>
                    <a class="product-link" href="{{url_for('products.view', product_id=product['product_id'])}}">
                        {{product['product_name'] }}
                    </a> : {{ product['quantity'] }}
                </p>
            {% endfor %}
            <p>Price: {{order['total_price']}}</p>
            <p>Including shipment: {{order['shipment']}}</p>
            <p>Carried by courier with ID: {{order['entity'].courier_id}}</p>
            {% if order['received'] %}
                <p style="color: green">Received</p>
            {% else %}
                <p style="color: red">Not received</p>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    {% else %}
        <br><br><br><br>
        <h2>Orders not found</h2>
    {% endif %}
</div>
{% endblock %}


