body {
	background-color: grey;
}

a {
    text-decoration: none;
    color: black;
}

.error-message {
    color: #D83434;
}

div#upper-panel {
	margin-top: 40px;
}

div.admin-upper-links {
	background-color: cyan;
	border: none;
	border-radius: 15px;
    text-align: center;
    height: 100px;
    margin: 30px;
}

div.admin-upper-links a{
	color: white;
	font-size: 30pt;
	line-height: 40px;
}

div#categories-list {
    margin-top: 50px;
}

div.admin-button {
    width: 150px;
    height: 30px;
    background-color: cyan;
    border-radius: 10px;
    text: white;

}

/*Flask flash messages*/
.flash {
    padding: 10px;
    border-radius: 5px;
    color: #dedede;
    display: inline-block;
}

.flash.success {
    border: 1px solid #37784d;
    background: #579c6e;
}

.flash.warning {
    border: 1px solid #874a1e;
    background: #ba7b4e;
}

.flash.error {
    border: 1px solid #782a2a;
    background: #9e3e3e;
}

