body {
	background-color: #9EBAE4;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.3em;
}

.error-message {
    color: #D83434;
}
/* Main page */

.main-page-container {
    padding-top: 30px;
    text-align: center;
}

#main-logo-container img {
    max-width: 100%;
}

#main-page-easter-egg {
    height: 700px;
    width: auto;
    margin-top: 100px;
}

#index-center-container {
    margin-top: 100px;
}

.page-title {
    margin-top: 50px;
}

.doge-img-container img {
    max-width: 100%;
}


/*Flask flash messages*/
.flash {
    padding: 10px;
    border-radius: 5px;
    color: #dedede;
    display: inline-block;
}

.flash.success {
    border: 1px solid #37784d;
    background: #579c6e;
}

.flash.warning {
    border: 1px solid #874a1e;
    background: #ba7b4e;
}

.flash.error {
    border: 1px solid #782a2a;
    background: #9e3e3e;
}

/*Products list*/

.view-product-link {
    color: #2899c9;
}

#products-list-block {
    margin-top: 50px;
}

.card-top-img {
    width: 300px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.card-top-img img {
    max-width: 100%;
    max-height: 100%;
}

.products-list-card {
    width: 320px;
    max-height: 650px;
    margin: 10px 20px 10px 20px;
    border: 3px solid white;
    border-radius: 3px;
}

.card-price-text {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0px;
}

#filters-block {
    background-color: #EAD19A;
    margin-top: 50px;
    border-radius: 5px;

}

#filters-block #filters-title {
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: 500;
}

#filters-block .filter-area {
    width: 100%;
    margin-top: 20px;

}

#filters-block .filter-title {
    font-size: 1.2em;
    font-weight: 500;
}

#filters-block .filter-area ul {
    list-style-type: none;
}

#filters-block .filter-option {
    font-size: 1.1em;
    margin-top: 5px;
}

#filters-block .filter-option input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;

}

#filters-block #apply_filters {
    border-radius: 5px;
    padding: 10px 30px;
}

/* styles for product viewing page */

#admin_info {
    margin-top: 30px;
}

#product-title {
    margin-top: 50px;
}

#product-block {
    margin-top: 50px;
}

#product-img-block {
    width: 400px;
    height: 500px;
    margin-bottom: 25px;
}

#product-price-container {
    margin-top: 50px;
}

#product-price-block {
    font-size: 2em;
}

#product-addtocart-block {

}

#desc_title  {
    margin-top: 50px;
}

#charcs_title  {
    margin-top: 50px;
}


#box-info-block {
    margin-top: 50px;
}

.carousel-item  {
    width: 400px;
    height: 500px;
}


.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

/* CART */

#cart-content {
    margin-top: 50px;
}

.cart-product-name {
    font-size: 1.4em;
}

.cart-product-quantity {
    font-size: 1.4em;
}

.cart-product-price {
    font-size: 1.6em;
}

.cart-product-delete a {
    color: red;
    font-size: 1.5em;
}

#cart-proceed-to-order {

}

#order-price {
    font-size: 2em;
}

#cart-buy-btn {
    margin-top: 50px;
    font-size: 3em;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

#success-order-img {
    margin: 50px 0px 50px 0px;
    width: 600px;
    height: auto;
}

/* PROFILE */

#orders-history-block {
    margin-top: 50px;
}

#orders-column {
    padding-left: 100px;
}

.view-order-link {
    font-size: 2em;
    color: #a16f23;
}

#orders-history-block .view-order-link {
    display: block;
    margin: 10px 0px;
}

/* Order info */

.order-info-container {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.product-link {
    text-decoration: underline;
}


/* ERROR PAGE */

.error-page-container {
    text-align: center;
    padding-top: 60px;
}

.error-code {
    font-size: 6em;

}

/*SEARCH ORDERS*/
.order-display-list {
    margin-top: 100px;
}


