body {
	background-color: #9EBAE4;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.3em;
}

.main-page-container {
    text-align: center;
}

#main-page-easter-egg {
    height: 700px;
    width: auto;
    margin-top: 100px;

}

.page-title {
    margin-top: 50px;
}

.form-upper-error {
    color: #D83434;
}

/*Products list*/

.view-product-link {
    color: #2899c9;
}

#products-list-block {
    margin-top: 50px;
}

.card-top-img {
    width: 300px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.card-top-img img {
    max-width: 100%;
    max-height: 100%;
}

.products-list-card {
    width: 22rem;
    margin: 10px 20px 10px 20px;
    border: 3px solid white;
    border-radius: 3px;
}

/* styles for product viewing page */

#admin_info {
    margin-top: 30px;
}

#product-title {
    margin-top: 50px;
}

#product-block {
    margin-top: 50px;
}

#product-img-block {
    width: 400px;
    height: 500px;
    margin-bottom: 25px;
}

#product-price-container {
    margin-top: 50px;
}

#product-price-block {
    font-size: 2em;
}

#product-addtocart-block {

}

#desc_title  {
    margin-top: 50px;
}

#charcs_title  {
    margin-top: 50px;
}


#box-info-block {
    margin-top: 50px;
}

.carousel-item  {
    width: 400px;
    height: 500px;
}


.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

/* CART */

#cart-content {
    margin-top: 50px;
}

.cart-product-name {
    font-size: 1.4em;
}

.cart-product-quantity {
    font-size: 1.4em;
}

.cart-product-price {
    font-size: 1.6em;
}

.cart-product-delete a {
    color: red;
    font-size: 1.5em;
}

#cart-proceed-to-order {

}

#order-price {
    font-size: 2em;
}

#cart-buy-btn {
    margin-top: 50px;
    font-size: 3em;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

#success-order-img {
    margin: 50px 0px 50px 0px;
    width: 600px;
    height: auto;
}

/* PROFILE */

#orders-history-block {
    margin-top: 50px;
}


/* ERROR PAGE */

.error-page-container {
    text-align: center;
    padding-top: 60px;
}

.error-code {
    font-size: 6em;

}

/*SEARCH ORDERS*/
.order-display-list {
    margin-top: 100px;
}


