{% extends 'base.html' %}

{% block title %}
Search results
{% endblock %}

{% block content_title %}
<div class="page-title">
    <h1>Results:</h1>
</div>
{% endblock %}

{% block content %}
    {% if accounts %}
        <div class="container-fluid order-display-list">
            {% for account in accounts %}
            <div class="order-display-block">
                <h1>Account ID: {{ account.id }}</h1>
                <h2>{{ account.surname }} {{ account.name }} {{ account.patronymic }}</h2>
                <p>Login: {{ account.login }}</p>
                <p>Email: {{ account.email }}</p>
                <p>Phone number: {{ account.phone_number }}</p>
                <p>Registered: {{ account.register_date }}</p>
                <p>Last visit: {{ account.last_visit }}</p>
                <p>Birthday: {{ account.birthday }}</p>
                <p>Default delivery address: {{ account.delivery_address }}</p>
                <p>Order IDs:</p>
                <br>
                {% for order in account.orders %}
                    <a href="{{url_for('order.view', order_id=order)}}" class="view-order-link">{{ order }}</a>
                    <br>
                {% endfor %}

                <hr>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <br>
    <p>Nothing was found :(</p>
    {% endif %}
{% endblock %}


