{% extends 'base_admin.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block page_title %}
<h1>Add category</h1>
{% endblock %}



{% block content %}

<form action="{{ url_for('categories.add') }}" method="POST">
  <div class="col-md-6">
  {% for field in form %}

    <div class="form-group">
      {{ field.label(class='control-label') }}
      {{ field(class='form-control')}}
    </div>
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-primary">Add category</button>
  </div>
</form>

{% endblock %}
