{% extends 'base_admin.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block page_title %}
<h1>Add product</h1>
{% endblock %}



{% block content %}
<div class="col-md-6">
<form id="add-product-form" action="{{ url_for('products.add_form_submit') }}" method="POST">

  {% for field in form %}

    <div class="form-group">
      {{ field.label(class='control-label') }}
      {% set id_string = 'add_product_' ~ field.name%}
      {{ field(class='form-control', id=id_string)}}
    </div>
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-primary">Add product</button>
</form>
 </div>
{% endblock %}
