{% extends 'base_admin.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block page_title %}

<h1>Add product</h1>

{% for category, msg in get_flashed_messages(with_categories=True) %}
    <br><br>
        <div class="flash {{category}}">{{ msg }}</div>
    <br>
{% endfor %}

<br><br>
<h5>Product's price can have a maximum of 10 digits, and maximum of 4 in the fractional part. </h5>

{% endblock %}



{% block content %}
<div class="col-md-6">
  {% for field, errors in form.errors.items() %}
    <small class="error-message">
        {{ ' '.join(errors) }}
    </small>
  {% endfor %}
<form id="product-form" action="{{ url_for('products.validate_create') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token() }}

    {% for field in form if field.name not in ["csrf_token", "submit"]%}

    <div class="form-group">
        <p>{{ field.label() }}</p>
        <p>
            {{ field(class="form-control") }}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    </div>

    {% endfor %}
  <br>
  {{ form.submit(class="btn btn-primary")}}

</form>
<br>
<br>
 </div>
{% endblock %}
