{% extends 'base_admin.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block page_title %}
<h1>Edit product</h1>
{% endblock %}

{% block upper_panel %}
    <div id="admin_info">
        <p>Product ID: {{product.id}}</p>
        <p>Created at: {{product.creation_date}}</p>
        <p>Last edited at: {{product.last_edited}}</p>
    </div>

    <h5>Product's price can have a maximum of 10 digits, and maximum of 4 in the fractional part. </h5>
{% endblock %}



{% block content %}
<div class="col-md-6">

<form id="product-form" action="{{ url_for('products.validate_edit') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token() }}
    {% for field in form if field.name not in ["csrf_token", "submit", "product_id"]%}
        <div class="form-group">
            <p>{{ field.label() }}</p>
            <p>
                {{ field(class="form-control") }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
    {% endfor %}
    <div class="form-group">
        {{ form.product_id(class="form-control") }}
    </div>
    <br>
    {{ form.submit(class="btn btn-primary") }}

</form>
<br>
<br>
 </div>
{% endblock %}

{% block footer %}
<a href="{{ url_for('products.delete', product_id=product.id) }}" class="btn btn-danger">Delete product</a>
{% endblock %}
